@using WebData
@model Web.Models.UserprofileModel

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div id="loggedInContent">
    <div id="profile">
        <h2>Profile</h2>
        @foreach (var item in Model.User)
        {
            
                <img src="@Url.Content("~/Images/" + @item.img_path)" width="200" height="200" />
            

                <h4>Förnamn:</h4><p class="nameText">
                @item.Firstname
                </p>
           
                <h4>Efternamn:</h4><p class="nameText">
                 @item.Lastname
                </p>
           
                <h4>Ålder:</h4><p class="nameText">
                 @item.Age
                 </p>
        
                <h4>Stad:</h4><p class="nameText">
                 @item.City
                </p>
              
                <h4>Mail:</h4><p class="nameText">
                @item.Email
                 </p>
        }

    </div>
    <div id="FriendsL">
        <div id="profile">
            @Html.Action("FriendsList", "UserHome")
        </div>
    </div>
</div>

            





