@using WebData
@model Web.Models.UserprofileModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div id="loggedInContent">

    <div id="profile">

        @foreach (var item in Model.User)
        {
            if (Model.CheckIfVisitingOwnProfile(@item.Username))
            {
                {Response.Redirect("~/UserHome/MyProfile");}
            }

            else if (Model.CheckIfFriends(@item.ID) == false)
            {
                using (Html.BeginForm("ChangeToIDAndPassToModel", "UserHome", new { senderUsername = User.Identity.Name, receiverUsername = item.Username }))
                {
                        <input type="submit" value="Add friend"/>
                    }
                }

                <img src="@Url.Content("~/Images/" + @item.img_path)" width="200" height="200"/>


                <h4>Förnamn:</h4>
                <p class="nameText">
                    @item.Firstname
                </p>
                <h4>Efternamn:</h4>
                <p class="nameText">
                    @item.Lastname
                </p>
                <h4>Ålder:</h4>
                <p class="nameText">
                    @item.Age
                </p>
                <h4>Stad:</h4>
                <p class="nameText">
                    @item.City
                </p>
                <h4>Mail:</h4>
                <p class="nameText">
                    @item.Email
                </p>
            }
        
    </div>
    <div id="profileContent">
        @Html.Partial("PostView",
    new Post
    {
        RecieverID = UserRepository.
        GetUserId(Request.QueryString["Username"])
    })
    </div>
</div>
  

    

    
