

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditProfile</h2>

@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    <input type="file" name="file" id="file" />
    <input type="checkbox" name="searchable" />
    <br />
    <p>Change Firstname</p>
    @Html.TextBox("firstname")
    <br />
    <p>Change Lastname</p>
    @Html.TextBox("lastname")
    <br />
    <p>Change City</p>
    @Html.TextBox("city")
    <br />
    <p>Change Email</p>
    @Html.TextBox("email")
    <br />
    <p>Change Password</p>
    @Html.TextBox("password")
    <br />
    <p>Change Username</p>
    @Html.TextBox("username")
    <br />
    <input type="submit" value="Upload Image" name="Command" />
}

